<div class="container">
  <footer class="footer">
    
    <small>
      Powered by Antror Tec.
      <a href="http://www.rincondigital.es/" target="_blank">Rincondigital.es</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>